.App {
  --policeBlue: #34495E;
  --pastelOrange: #FFB347;
  
  --opacityPoliceBlue: 52,73,94;
  --opacityPastelOrange: 255,179,71;
  
  text-align: center;
  color: var(--policeBlue);
  max-width: 1000px;
  
  
  
  
}


